@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";
@import "components/btn.css";

#app {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

@layer utilities {
  .link {
    @apply text-sky-600 hover:text-sky-500;
  }
}
